:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  text-align: center;
  background: linear-gradient(
    94deg,
    rgba(1, 64, 137, 0.872) 13%,
    rgba(3, 61, 148, 0.853) 95%
  );
}
