:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  text-align: center;
  background: linear-gradient(
    94deg,
    rgba(34, 87, 254, 0.8724440459777661) 13%,
    rgba(84, 214, 254, 0.8528362028405112) 95%
  );
}
